/* src/Navbar.css */
.navbar {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  margin-bottom: 0px;

}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.3s;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}


.menu-icon.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-6px, -6px);
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #000000;
  width: 200px;
  border-radius: 5px;
}

.nav-menu.active .nav-item {
  margin: 10px;
   text-align:center; 
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .menu-icon {
    display: flex;

  }

}
